<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Show polygon information on click</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
<style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    .calculation-box {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.641);
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        max-width: 300px;
    }
    .calculation-box p {
        margin: 5px 0;
    }
    .button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        background-color: rgba(128, 128, 128, 0.5); /* серый и полупрозрачный цвет */
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        z-index: 1;
    }
    .button:hover {
        background-color: rgba(128, 128, 128, 0.8); /* измененный цвет при наведении */
    }
</style>
</head>
<body>
<div id="map"></div>
<div class="calculation-box" id="sidebar"></div>
<button class="button" onclick="resetMap()">Reset</button>
<button class="button" onclick="toggleFullScreen()">Full Screen</button>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2VhbGltYSIsImEiOiJjbHluNXlyNzgwM2hsMmtzNXkxdTNxMWZ0In0.9Cs1LGdZnNQHeHil8vnwRQ';
const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [76.879751, 43.24517], // Centered on New York City
    zoom: 12
});

map.on('load', () => {
    // Replace this URL with your own GeoJSON data URL
    const geojsonUrl = 'https://raw.githubusercontent.com/sealaluma/project/main/coffeinya_layer.geojson';

    // Add a source for your GeoJSON data.
    map.addSource('custom-data', {
        'type': 'geojson',
        'data': geojsonUrl
    });

    // Add a layer showing your GeoJSON data.
    map.addLayer({
        'id': 'custom-data-layer',
        'type': 'fill',
        'source': 'custom-data',
        'paint': {
            'fill-color': 'rgba(245, 0, 0, 0.1)',
            'fill-outline-color': 'rgba(245, 0, 0, 0.5)',
            'line-opacity': 0.5, // Прозрачность границ
            'line-color': 'rgba(245, 0, 0, 0.5)' // Цвет границ
        }
    });

    // Add a layer for the highlighted polygon outline.
    map.addLayer({
        'id': 'highlighted-polygon-outline',
        'type': 'line',
        'source': 'custom-data',
        'filter': ['==', 'id', ''],
        'paint': {
            'line-color': 'rgba(0, 0, 0, 1)',
            'line-width': 2
        }
    });

    // When a click event occurs on a feature in the custom data layer,
    // open a sidebar with information about the polygon and fly to it.
    map.on('click', 'custom-data-layer', (e) => {
        const properties = e.features[0].properties;
        let sidebarContent = '<div style="width: 100%;">';
        for (const key in properties) {
            if (properties.hasOwnProperty(key) && properties[key] != null && properties[key] !== '') {
                let displayName;
                switch (key) {
                    case 'income':
                        displayName = 'Средний доход';
                        break;
                    case 'full_age':
                        displayName = 'Средний возраст';
                        break;
                    default:
                        displayName = key;
                }
                sidebarContent += `<p><strong>${displayName}:</strong> ${properties[key]}</p>`;
            }
        }
        sidebarContent += '</div>';
        document.getElementById('sidebar').innerHTML = sidebarContent;

        // Reset the style of all outlines
        map.setPaintProperty('custom-data-layer', 'fill-outline-color', 'rgba(200, 200, 200, 0.5)');
        map.setPaintProperty('custom-data-layer', 'fill-outline-width', 1);

        // Set a bold outline for the selected polygon
        map.setFilter('highlighted-polygon-outline', ['==', 'id', e.features[0].id]);
        map.setPaintProperty('highlighted-polygon-outline', 'line-width', 4);

        map.flyTo({
            center: e.lngLat,
            zoom: 14,
            essential: true // this animation is considered essential with respect to prefers-reduced-motion
        });
    });

    // Change the cursor to a pointer when
    // the mouse is over the custom data layer.
    map.on('mouseenter', 'custom-data-layer', () => {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change the cursor back to a pointer
    // when it leaves the custom data layer.
    map.on('mouseleave', 'custom-data-layer', () => {
        map.getCanvas().style.cursor = '';
    });
});

function resetMap() {
    map.setFilter('highlighted-polygon-outline', ['==', 'id', '']);
    map.flyTo({
        center: [76.879751, 43.24517],
        zoom: 12,
        essential: true // this animation is considered essential with respect to prefers-reduced-motion
    });
    document.getElementById('sidebar').innerHTML = '';
}

function toggleFullScreen() {
    var button = document.querySelector('.button-container .button:nth-child(2)');
    if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen();
        button.textContent = 'Свернуть';
    } else {
        if (document.exitFullscreen) {
            document.exitFullscreen();
            button.textContent = 'Во весь экран';
        }
    }
}
</script>
</body>
</html>
